nav{
	position:relative;
	display:block;
	width:100%;
	background-color: black;
	border-radius: 5px;
	padding: 5px 0px 5px 0px;
	display: flex;
}

@media screen and (orientation: landscape) {
	#otherlinks{
		flex-grow:1;font-size: 4vh;display: flex;justify-content: space-evenly;
	}
	
	#account{
		display:none;
	}
}
@media screen and (orientation: portrait){
	#otherlinks{
		width: 100%;font-size: 4vh;display: flex;justify-content: space-evenly;
	}
	#account1{
		display: none;
	}
	nav{
		display:inline-block;
	}
}


nav > div > a, nav > div > p{
	text-decoration: none;
	font-size: 2vh;
	color: white;
	display: inline;
	font-family: Roboto, sans-serif;
}
nav > div{
	margin-top: 0.5vh;
	float: right;
	display:inline;
	position:relative;
	right:5px;
}
 dialog{
     position: fixed;
     top: 50%;
     transform: translate(0px, -50%);
     background-color: rgba(0, 0, 0, 0.346);
     color: white;
	 z-index:1;
}